.page {
  min-height: 100vh;
  padding-top: 120px;
  /* deja espacio para la Dynamic Island */
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Creacion de las variables para los themes */
body.dark-mode {
  --bg: #020202b4;
  --text: #ffffff;
  --subtext: rgba(255, 255, 255, 0.7);
  --pill-bg: rgba(20, 20, 20, 0.75);
  --pill-border: rgba(255, 255, 255, 0.1);
  --pill-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);

  --pill-text: var(--text);
  --nav-active: var(--text);
  --nav-inactive: var(--subtext);
}

body.light-mode {
  --bg: #eeeeee;
  --text: #111111;
  --subtext: rgba(0, 0, 0, 0.6);
  --pill-bg: rgba(255, 255, 255, 0.65);
  --pill-border: rgba(255, 255, 255, 0.4);
  --pill-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.08);

  --pill-text: var(--text);
  --nav-active: var(--text);
  --nav-inactive: var(--subtext);
}

body {
  transition: background-color 0.4s ease, color 0.4s ease;
  background-color: var(--bg);
  color: var(--text);
}

.pill,
.page,
.hero,
.subtitle {
  transition: background-color 0.4s ease, color 0.4s ease;
}